---
---

@import "{{ site.theme }}";

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #55ffaa !default;
$header-bg-color-secondary: #2c88e4 !default;

// Text
$section-headings-color: #55ffaa !default;
$body-text-color: #3a3c3d !default;
$body-link-color: #2fcfff !default;
